@font-face { font-family: Nickerbocker; src: url("../Media/NickerbockerNF.ttf"); } 





:root {
  --gold: #D4AF37;
  --copper: #B87333;
  --light_copper: #CCA37C;
}











* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Nickerbocker;
  color: var(--gold);
  background-color: black;
  font-size: 32px;
}

figcaption span {
  font-size: 14px;
}

figure {
  padding-left: 5%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

li {
  list-style: none;
}

p {
  padding: 5%;
}








.callout {
  font-size: 60px;
  text-align: center;
}

.column {
  flex: 25%;
  padding: 20px;
}

.container {
  padding-top: 85px;
}

.image-container {
  padding: 10%;
}

.inline_link {
  color: var(--copper);
}

.inline_link:hover {
  color: var(--light_copper);
}

.navbar {
  overflow: hidden;
  background-color: black;
  border: 1px solid var(--gold);
  border-style: double;
  border-width: 15px;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar a {
  color: var(--gold);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.navbar a:hover {
  background-color: var(--copper);
  border-radius: 5px;
  transition: 0.3s ease;
}

.row {
  display: flex;
  background: black;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.row ul {
  padding: 5%;
}

.spacer {
  height: 50px;
}

.youtube {
  width: 560px;
  height: 315px; 
  frameborder: 20px; 
}








#dropdown_links {
  display: none;
}

#hamburger {
  background: black;
  display: block;
  font-size: 32px;
  position: absolute; 
  top: 0;
  right: 0;
  border: 1px solid var(--gold);
  margin: 20px;
}


#hamburger:hover {
  background-color: var(--copper);
  border-radius: 5px;
  transition: 0.3s ease;
}

#logo {
  font-size: 32px;
}

#introtext {
  padding: 20%;
  font-size: 60px;
}

#navbar_links li {
    display: inline-flex;
}












@media screen and (max-width: 1200px) {
  #introtext {
    padding-top: 150px;
    font-size: 44px;
  }
}



@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


@media screen and (max-width: 768px) {
 .column {
    flex: 100%;
  }
  .row {
    flex-direction: column;
  }
  #intropic {
    display: none;
  }
  #introtext {
    padding-top: 70px;
    font-size: 32px;
  }
}




@media screen and (max-width: 560px) {
  .youtube {
    width: 400px !important;
    height: 225px !important;
  }
  #hamburger {
    font-size: 22px;
  }
  #logo {
    font-size: 22px;
  }
}


