.menu {
  gap: 1em;
  display: flex;
  font-size: 18px;
}

.menu li {
  padding: 5px 14px;
}

.menu li:hover {
  background-color: #B87333;
  border-radius: 5px;
  transition: 0.3s ease;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: black;
  border: 1px solid #D4AF37;
  border-style: double;
  border-width: 15px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.nav-links a {
  color: #D4AF37;
}

input[type=checkbox] {
  display: none;
} 

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media (max-width: 768px) {
 .menu {
    display:none;
    position: absolute;
    background-color: black;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    border: 1px solid #D4AF37;
    border-style: double;
    border-width: 15px;
  }

  .menu li:hover {
    display: inline-block;
    background-color:#B87333;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}